header {
    height: 70px;
    width: 100%;
    background-color : white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #CCCCCC;
    display: flex;
    align-items: center;
   
}
.logo {
    text-align: center left;
    margin: auto 20px;
    background-image: url("../images/Holberton.png") no-repeat;
    height: 60px;
    width: 150px;
} 
