header {
    height: 70px;
    width: 100%;
    background-color : white;
    border-bottom: 1px solid #CCCCCC;  
}

.logo {
    background-image: url("../images/logo.png");
    text-align: center left;
    margin: auto 20px;
    height: 60px;
    width: 150px;
} 
